
<div>
 <table>
  <thead>
   <tr>
    <th>image</th>
    <th>name</th>
   </tr>
  </thead>
  <tbody>
<% @users each do |users| %>
    <tr>
     <td></td>
     <td></td>
     <td></td>
    </tr>


  </tbody>

 </table>

</div>

